USE [master]
GO
/****** Object:  Database [CustomerRegistrationDb]    Script Date: 11/27/2025 3:27:36 PM ******/
CREATE DATABASE [CustomerRegistrationDb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CustomerRegistrationDb', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\CustomerRegistrationDb.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CustomerRegistrationDb_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\CustomerRegistrationDb_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CustomerRegistrationDb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CustomerRegistrationDb]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 11/27/2025 3:27:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customers]    Script Date: 11/27/2025 3:27:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customers](
	[IcNumber] [nvarchar](50) NOT NULL,
	[CustomerName] [nvarchar](max) NOT NULL,
	[MobileNumber] [nvarchar](20) NOT NULL,
	[EmailAddress] [nvarchar](450) NOT NULL,
	[PinHash] [nvarchar](max) NULL,
	[IsOtpVerified] [bit] NOT NULL,
	[IsPrivacyAccepted] [bit] NOT NULL,
	[IsFullyRegistered] [bit] NOT NULL,
	[LastLoginAt] [datetime2](7) NULL,
 CONSTRAINT [PK_Customers] PRIMARY KEY CLUSTERED 
(
	[IcNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OtpSessions]    Script Date: 11/27/2025 3:27:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OtpSessions](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IcNumber] [nvarchar](450) NULL,
	[MobileNumber] [nvarchar](450) NOT NULL,
	[EmailAddress] [nvarchar](max) NULL,
	[Code] [nvarchar](max) NOT NULL,
	[Purpose] [nvarchar](450) NOT NULL,
	[DeliveryMethod] [nvarchar](10) NOT NULL,
	[IsVerified] [bit] NOT NULL,
	[ExpiresAt] [datetime2](7) NOT NULL,
	[CreatedOn] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_OtpSessions] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Customers_EmailAddress]    Script Date: 11/27/2025 3:27:36 PM ******/
CREATE NONCLUSTERED INDEX [IX_Customers_EmailAddress] ON [dbo].[Customers]
(
	[EmailAddress] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Customers_MobileNumber]    Script Date: 11/27/2025 3:27:36 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Customers_MobileNumber] ON [dbo].[Customers]
(
	[MobileNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_OtpSessions_IcNumber_Purpose_IsVerified]    Script Date: 11/27/2025 3:27:36 PM ******/
CREATE NONCLUSTERED INDEX [IX_OtpSessions_IcNumber_Purpose_IsVerified] ON [dbo].[OtpSessions]
(
	[IcNumber] ASC,
	[Purpose] ASC,
	[IsVerified] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_OtpSessions_MobileNumber_Purpose_IsVerified]    Script Date: 11/27/2025 3:27:36 PM ******/
CREATE NONCLUSTERED INDEX [IX_OtpSessions_MobileNumber_Purpose_IsVerified] ON [dbo].[OtpSessions]
(
	[MobileNumber] ASC,
	[Purpose] ASC,
	[IsVerified] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
USE [master]
GO
